/*************************
    Typography
**************************/
body{
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}
.side-menu{
    color: white;
}
.credits{
    font-size: 0.7em;
    text-align: center;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: bolder;
}
/*************************
    Layouts
**************************/
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
.logo{
    width : 50%;
    margin: 1em auto;
}
.logo img{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
nav a{
    height: 2em;
}
.side-menu{
    max-width: 1200px;
    background-color: #1E6C93;
    position:sticky;
    height: 100vh;
    width: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 500px;
}
.side-menu li{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8em 1.8em;
    margin: 1em 0;
    border: 0.1px solid rgba(0,0,0,0);
    border-bottom-left-radius: 2em;
    border-top-left-radius: 2em;
}
.side-menu-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 2em;
}
.side-menu-image img{
    height: 100%;
}
.side-menu li:hover{
    transition: 300ms;
    border: 0.1px solid rgba(255,255,255, 0.2);
}
.credits p{
    margin: auto;
    width: 50%;
}

@media screen and (max-width:1000px){
    .side-menu{
        width: 20%;
        min-width: 120px;
    }
    .menu-text,.logo,.credits{
        display: none;
    }
}

/************************
    Contact form
*************************/
.content-box{
    background-image: url("../images/Background-menu.jpg");
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.contact-title{
    color: white;
    transition:all 2s ease-in-out;
    text-align: center;
}
.form{
  margin-top:50vh;
}
.form-control{
    width:90vh;
    border: none;
    color: #1E6C93;
    padding-left: 1em;
    font-size:1em;
    margin-bottom: 20px;
    box-shadow: 1px -6px 62px -20px rgba(0,0,0,0.59);
}
input{
    height:45px;
    border-radius: 50px ;
}
textarea{
    padding-top: 1em;
    border-radius: 20px ;
    height: 150px;
    resize: none;
    font-family: 'Raleway', sans-serif;
}

/*************************
    Glider
**************************/
.news-card, .absentee-card{
    position: absolute;
    left: auto;
    width: 60%;
    padding: 1.5% 1.5em;
    border: 1px solid cornflowerblue;
    background-color: white;
    box-shadow: 0px 4px 13px 2px rgba(0,0,0,0.02);
}
.news-card{
    top : 5%;
}
.absentee-card{
    bottom : 5%;
}
.glide-contain button{
    font-size: 35px;
    top: 40%;
}
@media screen and (min-height:1080px){
    .news-card{
        top : 15%;
    }
    .absentee-card{
        bottom : 15%;
    }
}
.news-title{
    font-size: 1.5em;
    font-weight: bolder;
    margin-bottom: 0;
}
.news-date{
    font-size: 0.9em;
    font-style: italic;
    margin-top: 0;
}
.news-text-imp{
    color: #1E6C93;
    font-weight: bolder;
}

/*************************
    Components
**************************/
.content-box-two{
    background-image: url(../images/Background-wide.png);
    background-size: cover;
    flex-direction: column;

}
.selected-menu{
    /*place it inside <li>*/
    background-color: #79D2FB;
    border: none;
    box-shadow: 0px 4px 13px 2px rgba(0,0,0,0.2);
}
.azure-button{
    padding: 1em 2em;
    border: none;
    background-color:#79D2FB ;
    border-radius: 50px;
    box-shadow: 0px 4px 13px 2px rgba(0,0,0,0.2);
    text-decoration: none;
    color: white;
    text-align: center;
    font-size:0.9em;
}
.azure-button:hover {
    box-shadow: none;
}
h1{
    font-size: 3em;
    font-weight: 700;
}
table{
    border: 1px solid cornflowerblue ;
    width: 100%;
    text-align: center;
    height: 50%;
    border-collapse:collapse;
}
th,td{
    padding: .5em .5em;
    border: 1px solid cornflowerblue ;
}