<div class="header">
    <nav>
        <a href="../index.php"><img src="../images/BTS Logo white.svg" alt="BTS Lycée Mohammed VI"></a>
        <ul>
            <li class="menu-element"><a href="../index.php">Acceuil</a></li>
            <li class="menu-element"><a href="filieres.php">Filières</a></li>
            <li class="menu-element"><a href="candidature.php">Candidature</a></li>
            <li class="menu-element"><a href="contact.php">Contact</a></li>
            <a class="menu-element" href="espaceLog.php"><li class="azure-button">Espace étudiant</li></a>
        </ul>
    </nav>  
</div>